 Node.jsnode_modules/npm-debug.log*yarn-error.logpackage-lock.json# Environnement.env# Logslogs*.loglogs/*.lognpm-debug.log*yarn-debug.log*yarn-error.log*# Processpids*.pid*.seed*.pid.lock# IDE/Éditeurs de texte.vscode/.idea/.DS_Store*.swp*.swo